---
---

html {
	background-color: #F8F5F3;
	color: #030303;
}
body {
	max-width: 30em;
	padding: 1em;
	margin: auto;
	font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.4em;
	font-weight: 200;
	line-height: 1.3em;
}
header.index {
	text-align: center;
	hr {
		border: 0.2em solid #D7D7D7;
		margin: 0;
		margin-bottom: 2em;
	}
	img {
		height: 188px;
	}
	h1 {
		font-size: 2.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		line-height: 1em;
	}
	h2 {
		font-size: 1.4em;
		font-weight: 100;
		margin-bottom: 1.5em;
		line-height: 1.2em;
	}
	p {
		margin-top: 0;
	}
	.online-presence-icons {
		text-align: center;
		padding-left: 0;
		ul,
		li {
			display: inline-block;
		}
		li {
			padding-left: 1em;
			padding-right: 0.3em;
		}
		img {
			height: 3em;
		}
		.npmjs img {
			height: 2.2em;
			position: relative;
			top: -0.3em;
		}
		.linkedin img {
			height: 2.3em;
			position: relative;
			top: -0.3em;
		}
	}
}
header.article {
	hr {
		border: 0.2em solid #D7D7D7;
		margin-bottom: 2em;
	}
	h1 {
		line-height: 1.1em;
	}
	.published {
		font-style: italic;
		margin: 0;
	}
	.site-logo {
		p {
			position: relative;
		}
		a {
			position: absolute;
			top: 0.5em;
			left: 3em;
		}
		img {
			height: 2em;
		}
	}
}
section {
	hr {
		margin: 3.6em 4em;
		border: 0.07em solid #D7D7D7;
	}
	p {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	img {
		max-width: 100%;
	}
}
footer {
	padding-bottom: 2em;
	text-align: center;
}
pre {
	background-color: #d8d8d8;
	padding: 0.2em 0.5em;
	overflow-x: auto;
	tab-size: 4;
}
code {
	background-color: #d8d8d8;
	padding-left: 0.15em;
	padding-right: 0.15em;
}
blockquote {
	margin-left: 0;
	font-style: italic;
	background-color: #ffffff;
	padding: 0.01em 0.8em;
}
.text-muted {
	color: #797979;
}
a.link-muted {
	color: #797979;
	&:hover {
		color: #484848;
	}
}
